@import "sass-essentials";

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__container {
  background-color: #fff;
  padding: 15px;
  max-width: 585px;
  max-height: 90vh;
  border-radius: 21px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
}

.modal--custom__close {
  background: transparent;
  border: 0;
  padding: 0;

  .modal--custom__close-icon {
    fill: #4D4D4D;
    height: 25px;
    width: 25px;
    pointer-events: none;
  }
}

.modal__content {
  padding: 0 40px;
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  &:focus,
  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.modal__btn-primary {
  background-color: #000;
  color: #fff;
}

.micromodal-slide {
  display: none;
  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] {
    .modal__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .modal__container {
      animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }
  &[aria-hidden="true"] {
    .modal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .modal__container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }
  }
  .modal__container,
  .modal__overlay {
    will-change: transform;
  }
}
